body{
background-color: cadetblue;
color: greenyellow;
}
input[type="checkbox"]:enabled+label{
    color:navy;
    font-style: italic;
}
input[type="radio"]:checked+label{
    color:mediumblue;
    letter-spacing: 10px;
}
